# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Group55TestProjekt.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\MIDO\Desktop\kurser\kandidatarbetet\Group55_BachelorsThesis\unity\Group55TestProjekt\.idea\.idea.Group55TestProjekt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
